# all kind of CSV files
*.csv

# The folder that keeps the binaries
build/
app-data/*_db

# The IDE folder
.idea

# shell scripts
*.sh
.env

# Python details
scripts/venv
scripts/.env
scripts/csvs/*
scripts/imgs/*

.vscode
